<%- include('partials/header') %>


  <div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome Admin listing stations</h1>
      <form action="/station/list" method="POST">
          <label for="station">station</label>
          <select id="station" name="station">
            <% for(let i=0; i<stations.length; i++) { %>
              <option value="<%= stations[i]._id %>">
                  <%= stations[i].location %>
              </option>
            <% } %>
          </select>

          <input type="submit" value="Register">
</form>
      <hr>
    </div>
  </div>

  <%- include('partials/footer') %>
